body{
    text-align: center;
    color: rgb(94, 9, 9);
    padding: center;
    font-size: 40px;
    background-color: azure ;
    background-image: url(images/backround2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: rgb(94, 9, 9);
    font-size: 48px;
    background-color: aqua;
    padding: 1px;
    margin: 0px; 
}

button{
    width: 200px;
    font-size: 30px;
    padding: 20px;
    background-image: url(images/rock.png);  
}

.container {
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    border: 2px solid black; /* Example border */
    padding: 20px; /* Example padding */
    background-color: blue;
    background-repeat: no-repeat;
}

.score{
    display:;
    margin-left: 43%;
    margin-top: 0%;
    width:10%;
    padding: 1px;
    text-align:center;
    color: rgb(153, 15, 15);
    font-size: 48px;
    background-color: rgb(63, 119, 119);
}

.round{
    text-align:start;
    max-width: 100px;
    margin-bottom: -195px ;
}
p{
    margin: 16px;
}

.rock{
    font-style: italic;
    background-image: url(images/backround2.jpg);
}

.paper{
    font-style: italic;
    background-image: url(images/backround2.jpg);
}

.scissors{
    font-style: italic;
    background-image: url(images/backround2.jpg);
}